<!DOCTYPE html>
<html>
  <head>
    <title>Sportsblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>

    <script src="https://kit.fontawesome.com/29e5d21619.js" crossorigin="anonymous"></script>

    <%# <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/> %>

  </head>

  <body>
      
    <%= yield %>
  </body>
</html>
